<!DOCTYPE html>
<html>
<head>
    <title>Well-being Prediction</title>
</head>
<body style="text-align:center; font-family:Arial;">

    <h1>🌍 Well-being Prediction</h1>

    <form action="/predict" method="post">

        <input type="number" step="any" name="health" placeholder="Health" required><br><br>

        <input type="number" step="any" name="education" placeholder="Education" required><br><br>

        <input type="number" step="any" name="income" placeholder="Income" required><br><br>

        <input type="number" step="any" name="environment" placeholder="Environment" required><br><br>

        <input type="number" step="any" name="safety" placeholder="Safety" required><br><br>

        <input type="number" step="any" name="social_support" placeholder="Social Support" required><br><br>

        <button type="submit">Predict</button>

    </form>

    {% if prediction %}
        <h2>Predicted Score: {{ prediction }}</h2>
        <h3>{{ category }}</h3>
    {% endif %}

</body>
</html>