<!DOCTYPE html>
<html>
<head>
    <title>HDI Prediction</title>
</head>

<body>

<h1>🌍 Human Development Index Prediction</h1>

<form action="/predict" method="POST">

<input type="number" step="any" name="life" placeholder="Life Expectancy" required><br><br>

<input type="number" step="any" name="school" placeholder="Mean Years of Schooling" required><br><br>

<input type="number" step="any" name="income" placeholder="GNI per Capita" required><br><br>

<input type="number" step="any" name="gender" placeholder="Gender Development Index" required><br><br>

<input type="number" step="any" name="female" placeholder="Female HDI" required><br><br>

<input type="submit" value="Predict">

</form>

{% if prediction_text %}
<h2>{{ prediction_text }}</h2>
{% endif %}

</body>
</html>